body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    background-color: beige;
}

.nav-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 10%;
    margin-left: 10%;
}

.nav-item1{
    font-weight: bold;
    justify-self: flex-start;
}

.nav-content-holder{
    display: flex;
    justify-content: center;
}

.nav-content-holder button {
    margin-right: 15px;
    margin-left: 15px;
}

.title{
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    font-size: 24px;
}
.con-1{
    margin-left: 50px;
    margin-top: 30px;
    border-right: rgba(14,14,14,0.20) solid 1px;
}

.con-2{

    margin-top: 30px;
    border-right: rgba(14,14,14,0.20) solid 1px;
}
.con-3{

    margin-top: 30px;
    border-right: rgba(14,14,14,0.20) solid 1px;
}

.con-2-img{
    width:100%;
    height: auto;
}

.con-3-img{
    width: 100%;
    height: auto;
}

.con-3-img2{
    width: 100%;
    height: auto;
    margin-top: 30px;
}

.header{
    font-weight: bold;
    font-size: 36px;
    text-align: left;
}

.header2{
    font-weight: bold;
    font-size: 26px;
    text-align: left;
    margin-top: 40px;
}

.text{
    margin-top: 30px;
    font-size: 14px;
    text-align: justify-all;
    width: 100%;
}

.text1{
    margin-top: 30px;
    font-size: 14px;
}
.person-img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 10px;

}
.reporter{
    margin-top: 40px;
}

button{
    color: beige;
    background-color: black;

}



:root{
    --bar-width:60px;
    --bar-height:8px;
    --hamburger-gap:6px;
    --forefround: #333;
    --background:white;
    --animation-timing:200ms ease-in-out;
    --hamburger-height:calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu{
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap:  var(--hamburger-gap);
    width: max-content;
    z-index: 2;
    cursor: pointer;
    /*position: absolute;*/
}

.hamburger-menu:has(input:checked){
    --forefround: white;
    --background: #333;
}


.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input{
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--forefround);
    transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing),translate var(--animation-timing),background-color var(--animation-timing);
    transform-origin: left center;
}

.hamburger-menu input{
    appearance: none;
    padding:0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu:has(input:checked)::before{
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after{
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked{
    opacity: 0;
    width: 0;
}

.side-bar{
    position: absolute;
    translate:940%;
    transition: translate var(--animation-timing);
    padding-top: calc(var(--hamburger-height) + rem);
    background-color: var(--forefround);
    color: var(--background);
    width: 60vw;
    min-height: 100vh;
    z-index: 1;
}

.hamburger-menu:has(input:checked) + .side-bar{
    translate: 0;
}




